.button {
    -fx-background-color: linear-gradient(to bottom, #ae5700, #9e5000);
    -fx-border-style: solid;
    -fx-border-color: #234f6b;
    -fx-border-radius: 2px;
    -fx-font-family: Arial;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 6px 12px;
    -fx-pref-width: 75px;
    -fx-pref-height: 30px;

}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, coral, #cb6600);
}

.root {
    -fx-background-color: linear-gradient(to top, lightblue, white);
}

.label {
    -fx-font-size: 30px;
    -fx-font-style: italic;
    -fx-text-fill: white;
}

#AffichageView {
    -fx-background-color: #909090;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-pref-height: 50px;
}

#ActionsView {
    -fx-background-color: #3cb0fd;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-pref-width: 120px;
}

#ActionsView > .button {
    -fx-background-color: linear-gradient(to bottom, #3498db, #2980b9);
    -fx-text-fill: white;
}

#ActionsView > .button:hover {
    -fx-background-color: linear-gradient(to bottom, #3cb0fd, #3498db);
    -fx-text-fill: white;
}

.TourIA {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.TourIA > .label {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: "optima";
    -fx-font-style: normal;
}

.TourIA > .label > .text {
    -fx-stroke: #413f42;
    -fx-stroke-width: 2px;
}